#calculator-container {
  border: 3px solid #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

#products-container {
  display: flex;
  flex-direction: row;
}

#items-container {
  display: flex;
  flex-direction: column;
}
