.item-container {
  display: flex;
  margin: 0.6rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

.button-container {
  width: 50%;
}

.button {
  background-color: #f4accd;
  color: #26358c;
  border: 3px solid #26358c;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition-duration: 0.5s;
  margin: 0.3rem;
}

.button:hover {
  background-color: #fff;
  cursor: pointer;
}

.unit-container {
  display: flex;
  width: 100%;
  justify-content: center;
  display:table;
}

.price-container {
  width: 50%;
  display:table-cell;
  vertical-align:middle;
}
