.user-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

.radio-container {
  text-align: left;
  
}

.radio-container h6 {
  cursor: pointer;
}

.radio-label input {
  cursor: pointer;
}
